.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: 0 auto;
  justify-items: baseline;
}
h1{
  grid-column: 1 / -1;
  text-align: center;
  justify-self: center;
}
#panel-img{
  top: 15%;
  left: 15%;
  position: absolute;
}
.face-box {
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
  }

#url{
  width: 60%;
  padding: 10px;
  justify-self: right;
}
#btn{
  padding: 6px;

}
  img{
    width: 500px;
    height: auto;
  }